---
export const prerender = true;

import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { shortTitle } from "../../../lib/constants";
import Map from "../../../components/Map.astro";
import { getBrisbaneDatetimeString } from "../../../lib/dates";
import { meetingPoints } from "../../../lib/meetingPoints";

export async function getStaticPaths() {
  const runs = await getCollection("runs");
  return runs.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"runs">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();

const formattedTime = getBrisbaneDatetimeString(entry.data.startTime);
const meetingPoint = meetingPoints[entry.data.meetingPoint];

if (!meetingPoint) {
  return Astro.redirect("/");
}

const isCancelled = !!entry.data.cancelledReason;
---

<Layout title={`${formattedTime} - ${shortTitle}`} activeHref="/run">
  <main>
    <h2>
      <span class:list={{ "line-through mr-2": isCancelled }}
        >{formattedTime}</span
      >{isCancelled && <span>CANCELLED</span>}
    </h2>
    {
      isCancelled && (
        <p class="text-lg font-bold">Update: {entry.data.cancelledReason}</p>
      )
    }
    <Content />
    <p>
      After every run, we'll pick somewhere nearby for a drink or a meal, so
      please feel free to hang around for as long as you'd like!
    </p>
    <p>
      Not sure how to find the group? Check out the <a href="/info"
        >contact & FAQs page</a
      > for info on how to message and photos of your group leads, Kate & Chris.
    </p>

    <p class="mb-2">
      <b>{meetingPoint.location}</b>
    </p>
    <Map {meetingPoint} />
  </main>
</Layout>
