---
import type { CollectionEntry } from "astro:content";
import { meetingPoints } from "../lib/meetingPoints";

type Props = {
  run: CollectionEntry<"runs">;
};

const { run } = Astro.props;
const meetingPoint = meetingPoints[run.data.meetingPoint];
---

{
  !!meetingPoint && (
    <>
      <p class="mb-2">
        <b>{meetingPoint.location}</b>
      </p>
      <iframe
        title={`Map to ${meetingPoint.location}`}
        src={meetingPoint.embedUrl}
        width="100%"
        height="250"
        allowfullscreen={false}
        referrerpolicy="no-referrer"
        class="border"
        loading="lazy"
      />
      <a href={meetingPoint.appleUrl}>
        <small>Open in Apple Maps</small>
      </a>
    </>
  )
}
