---
import { Image } from "@astrojs/image/components";
import logo from "../images/base-logo.png";

import { longTitle, metaDescription, socialImageLink } from "../lib/constants";

type Props = {
  title: string;
};

const { title } = Astro.props;

const links: Array<{ icon: string; label: string; href: string }> = [
  { icon: "🏝️", label: "Home", href: "/" },
  { icon: "🏃", label: "Upcoming runs", href: "/runs" },
  { icon: "🙋‍♀️", label: "FAQs", href: "/faqs" },
  { icon: "🧐", label: "About", href: "/about" },
];

const jsonLdData = {
  "@context": "http://www.schema.org",
  "@type": "SportsTeam",
  name: longTitle,
  logo: socialImageLink,
  description: metaDescription,
  address: {
    "@type": "PostalAddress",
    addressLocality: "Maroochydore ",
    addressRegion: "QLD",
    postalCode: "4558",
    addressCountry: "Australia",
  },
  geo: {
    "@type": "GeoCoordinates",
    latitude: "-26.65",
    longitude: "153.10",
  },
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={metaDescription} />

    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={longTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={socialImageLink} />
  </head>

  <body>
    <div class="prose prose-orange dark:prose-invert mx-auto my-12">
      <nav class="flex justify-between items-center">
        <div>
          <Image src={logo} alt="QPRC Logo" width={300} class="mb-2" />
          <h1 class="text-base my-0 font-normal">{longTitle}</h1>
        </div>
        <ul class="list-none gap-2 pl-0">
          {
            links.map((link) => (
              <li>
                <a
                  href={link.href}
                  class:list={{
                    "no-underline": link.href !== Astro.url.pathname,
                  }}
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <hr class="mt-10 -mb-2" />

      <main>
        <section>
          <slot />
        </section>
      </main>

      <hr class="mt-10 mb-10" />

      <footer>
        <p>Footer in progress</p>
      </footer>
    </div>
  </body>

  <script type="application/ld+json" set:html={JSON.stringify(jsonLdData)}
  ></script>
</html>
